
/*CSS general de elementos*/
body{
    background-color: #2b2a2a;
    color:#ffffff;
    font-family: "Montserrat", sans-serif; 
}
section {
    scroll-margin-top: 80px; /* Ajusta este valor según la altura del navegador para que no tape los headers cuando se haga click */
}

.header2 {
    font-size: 1.875rem; /* Tailwind text-3xl */
    font-weight: 700; /* Tailwind font-bold */
    color: #ffffff; /* Tailwind text-white */
    margin-top: 0.75rem; /* Tailwind mt-3 */
  }
  
  @media (min-width: 640px) { /* Tailwind sm */
    .header2 {
      font-size: 2.25rem; /* Tailwind sm:text-4xl */
    }
  }
  
  .header3 {
    font-size: 1.5rem; /* Tailwind text-2xl */
    font-weight: 700; /* Tailwind font-bold */
    line-height: 1.375; /* Tailwind leading-tight */
    margin-top: 0.5rem; /* Tailwind mt-2 */
  }
  
  @media (min-width: 640px) { /* Tailwind sm */
    .header3 {
      font-size: 1.875rem; /* Tailwind sm:text-3xl */
    }
  }
/* Para las animaciones de la página que van "subiendo" progresivamente para hacer scroll*/
.transition {
opacity: 0;
transform: translateY(3rem); /* translate-y-12 */
transition: all 0.10s ease-in-out; /* transition-all duration-500 */
}

section .section-padding {
    padding: 10px 40px;
}
/* Estilos comunes para los enlaces */
nav{
    position: fixed;
    width: 100%;
    border-bottom:1px solid white;
    z-index: 100;
}
.nav-link {
    border-radius: 0.375rem; /* rounded-md */
    padding-left: 0.75rem; /* px-3 */
    padding-right: 0.75rem; /* px-3 */
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
    font-size: 1.125rem; /* text-lg */
    font-weight: 600; /* font-semibold */
    color: #d1d5db; /* text-gray-300 */
  }
  
.nav-link:hover {
    background-color: #4b5563; /* hover:bg-gray-700 */
}
  

a:hover{
    color:#94b9c8;  /*SIEMPRE SE SOBRE-ESCRIBE LO QUE ESTÁ ESCRITO DEBAJO. SI HAY UN BLANCO ENCIMA, PERO PONES AZUL DEBAJO, EL QUE APLICA ES EL AZUL*/
}

/*CSS IDs y Clase*/
.profesion1, .profesion2{
    color:#94b9c8;
          
}

#redessociales {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Alinea los iconos en fila */
    align-items: left; /* Alinea verticalmente los iconos con el texto */    
}

#redessociales li {
    margin-right: 20px; /* Espacio entre los íconos */
    
}

i {
    font-size: 55px; /* Ajuste del tamaño de los íconos */
}
i:hover{
    color:#94b9c8
}

#inicio{ /*Necesario para que el nav no tape los primeros headers*/
    padding-top:75px;
    
}

#contenedor-mepresento {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 97vh;
    padding-top: 20px;
    clear: both; /* Asegura que el bloque "Sobre mí" esté debajo de cualquier elemento flotante */   
}


/* Contenedor principal para imagen y texto en Sobre mí */
.contenedor-sobremi {
    display: flex; /* Activa Flexbox */
    flex-direction: row; /* Asegura que la imagen y el texto estén en una fila */
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    gap: 50px; /* Espacio entre la imagen y el texto */
    padding-top:5px;
    padding-bottom:20px; /* Añade margen inferior */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
    
}

/* Imagen: ajusta su tamaño */
.contenedor-sobremi img {
    width: 210px; /* Puedes ajustar el ancho según lo necesites */
    height: auto; /* Mantén la proporción de la imagen */
    border-radius: 8px; /* Opcional: Añade bordes redondeados a la imagen */   
}

.contenedor-sobremi .masinfo button{
    background-color: #94b9c8;
    border-radius: 8px;
    color: black; /* Texto del botón en blanco */
    cursor: pointer; /* Cambia el cursor cuando se pasa por encima del botón */
    font-size:16px;
    font-weight: 550;
    display:flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    border: none; /* Elimina los bordes predeterminados del botón */
    float:right;
}

/*Card de la página*/



/*.card-portfolio{
    
    background-color:#525252;
    
    background-position: center;
    background-repeat: no-repeat;
}*/

.masinfo button {
    background-color: #94b9c8; /* Fondo del botón */
    padding: 10px 20px; /* Espaciado interno */
    font-weight: 550; /* Peso de la fuente */
    font-size: 14px; /* Tamaño de la fuente */
    color: black; /* Color del texto */
    cursor: pointer; /* Cursor al pasar por encima */
    display: flex; /* Flex para control interno */
    float: right; /* Posición flotante a la derecha */
    border-radius: 5px; /* Bordes redondeados */
}


#experiencia{
    
    background-color: #d9e0e1;
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    color:#000000;
    
}
#experiencia .titular-experienciayskillss{
    display: flex; /* Activa Flexbox */
    flex-direction: row; 
    color: black;
    text-align:justify;
    gap:10px; 

}

#experiencia .h2-skills{
    color:#525252;
    
}    
#experiencia h3{
    margin-left:40px;
    padding-bottom: 20px;
    text-align:justify;
}
.fila-experiencia{
    display:flex;
    flex-direction: row;
    gap: 200px;
    padding-bottom: 20px;
    margin:35px;
}

.card-experiencia{
    width: 2000px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#2b2a2a;
    border-radius: 5px;
    padding-bottom:20px;
    border: 2px solid black;   
}

.card-experiencia p {
    color: #94b9c8;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    padding:35px;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Asegura que el texto esté centrado dentro del contenedor */
}

/*Formulario*/
#contactar {
    background-image: url("../imagenes/GrisMar3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 20px;

}

#contactar h2{
    color: white;
    text-align: justify;
    padding-top: 40px;
    margin-left:40px;
    gap:10px;
}

#contactar h3{
    margin-left:40px;
    padding-top:10px;
    padding-bottom: 30px;
    font-weight: 650;
    text-align:justify;
    color: #94b9c8;
}
.itemform{
    display:grid;
    grid-template-columns: 200px 350px;
    justify-content: center;
    margin: 10px;
    
}
.itemform label{
    font-weight: 400;
    font-size:20px;
    margin-left:30px;
    padding-top:10px;
    padding-bottom: 20px;
}

.itemform textarea{
    height: 100px;
}

input[type="submit"]{
    padding:10px 20px;
    border-radius: 8px;
    color: #94b9c8; /* Texto del botón en blanco */
    cursor: pointer; /* Cambia el cursor cuando se pasa por encima del botón */
    grid-column:2/3;
    justify-self: end;
    font-weight: 550;
    font-size:13px;
        
}

/* Estilo para el texto ingresado en los campos de formulario */
#contactar input, 
#contactar textarea {
    font-family: "Montserrat", sans-serif; 
    font-size: 16px; 
    background-color: #2b2a2a; 
    padding: 10px; 
    border-radius: 5px; 
    border:none;
    color:#d9e0e1;
}

/* Placeholder para el texto de ayuda para tenerlo en cuenta más adelante como idea!
#contactar input::placeholder, 
#contactar textarea::placeholder {
    color: #94b9c8; /* Cambia el color del texto de ayuda */
    /*opacity: 0.7; /* Ajusta la opacidad del placeholder */
/*}
/* Placeholder para el texto de ayuda */

/*Footer*/
footer{
    width: 100%;
    background-color: #161616;
    border-top:1px solid white;
    padding-top:10px;
}
footer ul {
    display: flex; /* Alinea los elementos de forma horizontal */
    list-style: none; /* Elimina los puntos de la lista */
    justify-content: center; /* Centra los elementos en el contenedor */
    padding: 20px 0; /* Añade padding superior e inferior */
    margin: 0; /* Elimina el margin por defecto */
}
footer i{
    font-size:30px;
}

/* MEDIA resposive */
/* Pantallas de PC más pequeñas (ancho máximo de 1024px) */
@media (max-width: 1024px) {
    nav ul {
        font-size: 18px;
        padding: 10px 0;
    }
    
    .contenedor-sobremi {
        flex-direction: column; /* Apila imagen y texto en vertical */
        gap: 20px;
    }
    
    .fila-portfolio {
        flex-direction: column;
        gap: 20px;
    }
    
    .fila-experiencia {
        flex-direction: column;
        gap: 20px;
    }

    .card-portfolio, .card-experiencia {
        width: 100%; /* Ajusta al ancho del contenedor */
    }
}

/* Pantallas de tablet o pantallas más pequeñas (ancho máximo de 835px y 768px) */
@media (max-width: 835px) {
    body {
        font-size: 12px; /* Reduce el tamaño de texto general */
    }
    h2 {
        font-size: 26px;
        line-height: 28px;
    }
    
    h3 {
        font-size: 15px;
    }
    
    .contenedor-sobremi img {
        width: 180px; /* Ajusta el ancho de la imagen */
    }

    .texto-sobremi {
        font-size: 16px;
    }

    .card-portfolio, .card-experiencia {
        width: 100%;
        height: auto; /* Ajusta la altura automáticamente */
    }

    .fila-portfolio, .fila-experiencia {
        gap: 10px;
    }

    nav ul {
        font-size: 16px;
    }
    nav i{
        font-size:10px;
    }
    nav li {
        margin-right: 15px; /* Ajusta el espacio entre elementos del menú */
    }
}


/* Pantallas de teléfono móvil (ancho máximo de 480px) */
@media (max-width: 480px) {
    nav {
        padding: 20px 0;
    }
    nav ul {
        display: flex; /* Asegura la disposición horizontal */
        flex-direction: row; /* Mantén los elementos en fila */
        flex-wrap: wrap; /* Permite que los elementos se ajusten en filas si es necesario */
        justify-content: center; /* Centra los elementos horizontalmente */
        font-size: 14px;
        padding: 0;
        margin: 0;
        font-size: 12px; /* Tamaño más pequeño para el texto del menú */
    }
    nav i{
        font-size:12px;
    }
    
    nav li {
        margin-right: 20px; /* Ajusta el espacio entre los elementos */
        margin-bottom: 0; /* Evita que los elementos se apilen uno debajo del otro */
        list-style: none; /* Quita el estilo de lista para que no aparezcan puntos */
    }

    nav li:last-child {
        margin-right: 0; /* Ajusta el margen del último elemento */
    }

    a:any-link, a:-webkit-any-link, a:-moz-any-link {
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        color: #94b9c8;
    }

    .contenedor-sobremi {
        padding: 5px;
        gap: 10px;
    }

    .contenedor-sobremi img {
        width: 150px; /* Ajusta el tamaño de las imágenes para que se adapten */
    }

    .texto-sobremi {
        font-size: 14px;
        padding: 10px;
    }
    
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }

    .fila-portfolio, .fila-experiencia {
        margin: 10px;
    }

    .card-portfolio, .card-experiencia {
        width: 100%;
        /*padding: 10px;*/
    }
    .card-portfolio img {
        width: 100%;
        height: 100%; /* Ocupa toda la altura de la tarjeta */
        object-fit: cover; /* Cubre todo el contenedor sin distorsionar la imagen */
        object-position: top; /* Alinea la imagen hacia la parte superior */
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .itemform {
        grid-template-columns: 1fr; /* Ajusta la forma de la cuadrícula */
        gap: 10px;
    }

    input[type="submit"] {
        grid-column: 1; /* Coloca el botón en una fila separada */
        justify-self: center;
    }

    #sobremi {
        padding: 0;
    }
}
